<div class="ctr">
  <div class="holder sidebar">
    <header>
      <h1><i class="fa fa-user"></i> Users</h1>
    </header>
    <section>
      <ul id="users-list"></ul>
      <div class="fetching-message message-block">
        <div class="msg"><strong>Fetching</strong> users</div>
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="message-block empty-block">
        <div class="msg">No <strong>users</strong> created</div>
        <i class="fa fa-archive"></i>
      </div>
    </section>
  </div>
  <div class="holder content" id="user-form"></div>
  <input type="hidden" id="users_index">
</div>